{% extends 'base.html' %}
{% block title %}
    Moje konto
{% endblock %} 

{% block content %}
  <h1>Moje konto</h1>
  <form method="post">
    <label for="name">Imię*</label>
    <input name="name" id="name" value="{{user.imie}}" required><br>
    <label for="surname">Nazwisko*</label>
    <input name="surname" id="surname" value="{{user.nazwisko}}" required><br>
    <label for="pesel">PESEL*</label>
    <input name="pesel" id="pesel" value="{{user.pesel}}" required><br>
    <label for="phone">Numer telefonu*</label>
    <input name="phone" id="phone" value="{{user.numer_telefonu}}" required><br>
    <label for="username">Email*</label>
    <input name="username" id="username" value="{{user.login}}" required><br>
    <label for="password">Hasło*</label>
    <input type="password" name="password" id="password"  value="{{user.haslo}}"required><br>
    <input type="submit" value="Edytuj">
  </form>

  {% if (tablename == 'pacjenci') %}
  <a href="{{ url_for('views.index_pacjent') }}">Zobacz wszystkie wizyty</a><br>
  {% else %}
  <a href="{{ url_for('views.index_pracownik') }}">Zobacz wszystkie wizyty</a><br>
  {% endif %}

  <a href="{{ url_for('auth.logout') }}">Wyloguj</a>
{% endblock %}