<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"><!--../static/style.css">-->
<head>
    <title>Pingwinek - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <title>CRUD Time</title>
	
</head>
<nav>
    <h1 class="maintitle">Klinika dentystyczna<br><a href="{{ url_for('views.index') }}">Pingwinek</a></h1>
    <div class="navig">
      <button><a href="{{ url_for('views.index') }}">O nas </a></button>
    <button><a href="{{ url_for('views.index') }}">Oferta </a></button>
  <button><a href="{{ url_for('views.index') }}">Cennik </a></button>
        
      {% if g.user %}
    <button><a href="{{ url_for('views.account') }}">Moje konto ({{ g.user.imie }} {{ g.user.nazwisko }})</a></button>
      {% else %}
    <button><a href="{{ url_for('auth.login') }}">Logowanie</a></button>
      {% endif %}
    </div>
  </nav>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>