<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"><!--../static/style.css">-->
<head>
    <title>Pingwinek - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <title>CRUD Time</title>
	
</head>
<nav>
    <h1 class="maintitle">Klinika dentystyczna<br><a href="{{ url_for('views.index') }}">Pingwinek</a></h1>
    <div class="navig">
      <a href="{{ url_for('views.index') }}">O nas</a>
      <a href="{{ url_for('views.index') }}">Oferta</a>
      <a href="{{ url_for('views.index') }}">Cennik</a>
        
      {% if g.user %}
        <a href="{{ url_for('views.account') }}">Moje konto ({{ g.user.imie }} {{ g.user.nazwisko }})</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}">Logowanie</a>
      {% endif %}
    </div>
  </nav>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>