{% extends 'base.html' %}
{% block title %}
    Strona główna
{% endblock %}

{% block content %}
	<h1>Lista wizyt</h1>
    <ul>
        Numer wizyty    Data i godzina      Dentysta    Status
    {% for c in wizyty %}
        <li><a href="{{url_for('views.show_pacjent', id=c.id)}}"> #{{c.id}} </a> {{ c.godzina_rozpoczecia }} {{c.dentysta.imie}} {{c.dentysta.nazwisko}} {%if ( c.czy_sie_odbyla ) %} Przeprowadzona {% else %} Oczekująca {% endif %}</li>
    {% endfor %}
    </ul>
	<a href="{{url_for('views.new')}}">Dodaj nową wizytę</a>
{% endblock %}
