{% extends 'base.html' %}
{% block content %}
    <h1>Wizyta #{{w.id}}</h1>
    <div class="forms">
    <p>
        <b>Data:</b> {{w.data}}<br>
        <b>Godzina:</b> {{w.godzina_rozpoczecia}}<br>
        <b>Dentysta:</b> {{d.imie}} {{d.nazwisko}}<br>
        <b>Usługi:</b> <br>
        {% for u in uslugi %}
        {{u.nazwa}} Cena: {{u.cena}}<br>
        {% endfor %}
        
    </p>
    
    <form action="{{url_for('views.show_pacjent', id=w.id)}}?_method=DELETE" method="POST">
        <input type="submit" value="Usuń">
    </form>
    <br>
    <button><a href="{{url_for('views.index_pacjent')}}">Zobacz wszystkie wizyty</a></button>
    </div>
{% endblock %}