{% extends 'base.html' %}
{% block content %}
    <h1>Wizyta #{{c.id}}</h1>
    <p>
        Data: <b>{{c.data}}</b><br>
        Godzina: <b>{{c.godzina_rozpoczecia}}</b>
        Pacjent 
        #TO DO
        Usługi: <b>{{d.imie}} {{u.nazwisko}}</b>
    </p>
    <br>
    <form action="{{url_for('views.show_pracownik', id=c.id)}}?_method=PATCH" method="POST">
        <input type="text" name="data" value="{{c.data}}">
        <input type="submit" value="Edytuj">
    </form>
    <br>
    <a href="{{url_for('views.index_pracownik')}}">Zobacz wszystkie wizyty</a>
{% endblock %}