{% extends 'base.html' %}
{% block content %}
    <h1>Wizyta #{{w.id}}</h1>
    <div class="forms">
    <p>
        <b>Data:</b> {{w.data}}<br>
        <b>Godzina:</b> {{w.godzina_rozpoczecia}}<br>
        <b>Pacjent:</b> {{p.imie}} {{p.nazwisko}}<br>
        <b>Usługi:</b> <br>
        {% for u in uslugi %}
        {{u.nazwa}} Cena: {{u.cena}}<br>
        {% endfor %}
    </p>
    <br>
    <form action="{{url_for('views.show_pracownik', id=w.id)}}?_method=PATCH" method="POST">
        Zmień datę i godzinę:
        <input type="datetime-local" name="datetime" id="datetime" value="{{w.godzina_rozpoczecia}}" min="2021-11-29T12:00" max="2022-11-29T12:00"><br>   
        <!--input type="hidden" name="check" value="0" />
        <input type="checkbox" name='check' value="1"/> Odwołaj wizytę <br-->
        <input type="submit" value="Edytuj">
    </form>
    <br>
    <button><a href="{{url_for('views.index_pracownik')}}">Zobacz wszystkie wizyty</a></button>
    </div>
{% endblock %}